@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}
html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

button {
     font-family: 'Roboto', sans-serif;
}





        /* colors */



        /* navbar */

.bg-navbar {
    background-image: url(images/blue_background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x:center ;
    height: 60rem;
    
}

#topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.8rem;
}

#logo {
    margin-left: 8.5rem;
}

#logo img{
    width: 5rem;
}

#nav-links {
    margin-right: 6.5rem;
}

#nav-links a {
    margin-right: 1.5rem;
    color: #ffffff;
    font-weight: 500;
    font-size: 0.7rem;
}

.btn-navbar{
    background-color: #FFBB00;
    color: #ffffff;
    font-size: 0.6rem;
    width: 6rem;
    height: 1.7rem;
    border: none;
    border-radius: 6px;
    }


        /* showcase 1 */

#showcase-1-content {
    font-family: ;
}