@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}
html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.4;
}

button {
     font-family: 'Roboto', sans-serif;
}





        /* colors */



        /* navbar */

.bg-navbar {
    background-image: url(images/blue_background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x:center ;
    height: 60rem;
    
}

#topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.8rem;
}

#logo {
    margin-left: 8rem;
}

#logo img{
    width: 6rem;
}

#nav-links {
    margin-right: 11rem;
}

#nav-links a {
    margin-right: 1.6rem;
    color: #ffffff;
    font-weight: 500;
    font-size: 0.8rem;
}

.btn-navbar{
    background-color: #FFBB00;
    color: #ffffff;
    font-size: 0.6rem;
    width: 6rem;
    height: 1.7rem;
    border: none;
    border-radius: 6px;
    }


        /* showcase 1 */


#showcase-1 {
    border: 1px solid black;
    justify-content: space-between;
}

#showcase-1-content  {
    margin-top: 8rem;
    margin-left: 8.5rem;
    width: 25rem;
}

#showcase-1-content h1 {
    font-family: 'poppins', sans-serif;
}

#showcase-1-content p{
    font-family: 'poppins', sans-serif;
    line-height: 2;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-top: 2rem;
    font-size: 0.6rem;
    width: 21rem;
    margin-bottom: 2rem;
}

#showcase-1-btn button {
    width: 9rem;
    height: 2.5rem;
    font-size: 0.8rem;
    border-radius: 10px;
    color: #ffffff;
}

#showcase-1-btn img {
    width: 2.2rem;
    margin-top: -0.3rem;
    
}

#showcase-1-phone {
    margin-right: 11rem;
}

.sc1-phone1, .sc1-phone2{
    height: 25rem;
}

.sc1-phone1{
    position: absolute;
    margin-top: 4rem;
    margin-left: -7rem;
    
}



